* {
    padding: 0;
    margin: 0;
    font-family: Poppins;
    transition: .5s;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

aside {
    width: 420px;
    z-index: 99999999;
    overflow: hidden;
    background-color: black;
    border-right: 1px solid rgba(255, 255, 255, 0.14);
}

.--full-page {
    position: relative;
    width: 100%;
    display: flex;
    background-color: #111111;
}

aside .logo img {
    width: 30%;
    padding: 0;
}

progress {
    --color: #a750cf;
    /* the progress color */
    --background: rgb(31, 31, 31);
    /* the background color */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 200px;
    margin-right: 1rem;
    border-radius: 30px;
    background: var(--background);
    height: 10px;
}

progress::-webkit-progress-bar {
    border-radius: 30px;
    background: var(--background);
}

progress::-webkit-progress-value {
    border-radius: 30px;
    background: var(--color);
    box-shadow: 0 0 10px rgba(148, 4, 216, .7), 0 0 30px rgba(148, 4, 216, .5), 0 0 50px rgba(148, 4, 216, .3);
}

progress::-moz-progress-bar {
    border-radius: 30px;
    background: var(--color);
}

#progress {
    color: #ae6dcc;
}

.progress {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

aside .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    position: fixed;
    z-index: 99999;
    /* background-color: #000000; */
    width: 346px;
}

aside .logo .logo-text {
    font-size: 27px;
    font-weight: 600;
    color: white;
    padding: 2rem;
    padding-left: 1rem;
}

nav .right .btn {
    margin-top: rem;
}

aside .pages {
    padding: 4rem;
    position: fixed;
    height: 100vh;
    /* background-color: #000000; */
    width: 250px;
    margin-top: 10rem;
}

aside .pages ul {
    list-style: none;
    line-height: 5rem;
}

aside .pages ul li {
    color: white;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

aside .pages ul li a {
    color: white;
    text-decoration: none;
}

aside .pages ul li a {
    color: white;
    text-decoration: none;
}

aside .pages ul li:nth-child(5),
aside .pages ul li:nth-child(5) a {
    color: #a750cf;
    text-shadow: 0 0 10px rgba(148, 4, 216, .7), 0 0 30px rgba(148, 4, 216, .5), 0 0 50px rgba(148, 4, 216, .3);
}

aside .pages ul li:nth-child(5)::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #a750cf;
    left: -72px;
    box-shadow: 0 0 10px rgba(148, 4, 216, .7), 0 0 30px rgba(148, 4, 216, .5), 0 0 50px rgba(148, 4, 216, .3);
    border-radius: 50%;
}

.active {
    color: #a750cf;
    text-shadow: 0 0 10px rgba(148, 4, 216, .7), 0 0 30px rgba(148, 4, 216, .5), 0 0 50px rgba(148, 4, 216, .3);
}

.active::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #a750cf;
    left: -72px;
    box-shadow: 0 0 10px rgba(148, 4, 216, .7), 0 0 30px rgba(148, 4, 216, .5), 0 0 50px rgba(148, 4, 216, .3);
    border-radius: 50%;
}

aside .pages p {
    color: white;
    text-transform: uppercase;
    opacity: .6;
    font-size: 15px;
    margin-bottom: 1rem;
}

aside svg {
    margin-right: 1rem
}

main {
    width: 100%;
}

main nav {
    display: flex;
    align-items: center;
    justify-content: right;
}

h4 {
    color: rgba(252, 232, 122, 0.774);
}

main nav p {
    margin-right: 1.55rem;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    background: linear-gradient(135deg, #bc82d6, #9404d8);
    border-radius: 15px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(148, 4, 216, .7), 0 0 30px rgba(148, 4, 216, .5), 0 0 50px rgba(148, 4, 216, .3);
}

.btn-border {
    padding: 10px 20px;
    border: none;
    outline: none;
    border: 1px solid #a750cf;
    border-radius: 15px;
    color: #a750cf;
    font-size: 17px;
    cursor: pointer;
    margin-top: 1rem;
    background: transparent;
}

.btn:hover,
.btn-border:hover {
    transform: scale(105%);
}

main header {
    position: relative;
    padding: 3rem;
    z-index: 1;
    overflow: hidden;
}

nav .right {
    display: flex;
    align-items: center;
}

.bottom-nav {
    position: fixed;
    z-index: 999999;
    display: none;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 0rem 2rem;
    padding-bottom: 1rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
}

.row div {
    margin: 1rem 0;
    margin-right: 2rem;
}

.row div span {
    font-size: 12px;
    opacity: .3;
}

.bottom-nav div {
    cursor: pointer;
}

.bottom-nav .home {
    display: flex;
    flex-direction: column;
}

.bottom-nav .home svg {
    bottom: 30px;
    border-radius: 50%;
    background: linear-gradient(135deg, #bc82d6, #9404d8);
    box-shadow: 0 0 10px rgba(148, 4, 216, .7), 0 0 30px rgba(148, 4, 216, .5), 0 0 50px rgba(148, 4, 216, .3);
    padding: 15px;
    transform: translateY(-15%);
}

nav .left img {
    width: 50px;
    height: 50px;
    display: none;
}

.staking-cont {
    color: white;
}

.staking-cont h1 {
    font-size: 27px;
}

.stake {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.208);
    padding: 1rem;
    border-radius: 20px;
    margin-top: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.14)
}

.stake .left {
    display: flex;
    align-items: center;
    width: 40%;
}

.stake .img {
    width: 50%;
}

.stake .text {
    width: 50%;
    font-size: small;
}

.stake .action {
    width: 60%;
    background: #0000006c;
    padding: 1.5rem;
    border-radius: 20px;
    margin-left: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.14)
}

.text h2 {
    color: #bc82d6;
}

.text span {
    font-size: smaller;
    margin-right: .3rem;
    opacity: .4;
}

.row {
    display: flex;
}

.stake img {
    width: 100%;
}

.buttons {
    display: flex;
    text-align: center;
    align-items: center;
    border-right: 1px solid rgba(255, 255, 255, 0.116);
    padding-right: 2rem;
}

.buttons .btn {
    margin-top: 1rem;
}

.earned {
    padding-left: 1rem;
    text-align: center;
    line-height: 2rem;
}

.earned .btn {
    margin: 1rem;
}

.buttons div {
    line-height: 2rem;
}

.connect-wallet-modal-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999999;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    padding: 1rem;
    display: none;
}

.connect-wallet-modal {
    background: #111111;
    color: white;
    max-width: 700px;
    padding: 2rem 1rem;
    border-radius: 20px;
}

.connect-wallet-modal .btn-border a {
    font-size: 14px;
}

.connect-wallet-modal .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.connect-wallet-modal .top p {
    transform: rotate(45deg);
    font-size: 30px;
    cursor: pointer;
}

.connect-wallet-modal .wallets {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem 0;
}

.wallets p {
    color: rgb(82, 82, 82);
    font-size: 13px;
}

.connect-wallet-modal .wallets img {
    width: 80px;
}

.connect-wallet-modal .wallets .walletconnect,
.connect-wallet-modal .wallets .metamask {
    margin: 0 1rem;
    background: rgb(15, 15, 15);
    padding: 1rem;
    cursor: pointer;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.connect-wallet-modal .wallets .walletconnect img {
    height: 80px;
}

.wallets h4 {
    font-size: 13px;
}

.bottom {
    text-align: center;
}

.bottom p {
    font-size: 14px;
    margin-bottom: 1rem;
}

@keyframes scale {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(110%);
    }
    100% {
        transform: scale(100%);
    }
}

main section {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 1rem;
    height: 100%;
    padding-bottom: 3rem;
}

@media screen and (max-width: 1400px) {
    aside .logo {
        flex-direction: column;
        width: 298.84px;
    }
    aside .logo .logo-text {
        padding: 0;
    }
}

@media screen and (max-width: 1000px) {
    .--full-page {
        flex-direction: column;
    }
    aside {
        display: none;
    }
    main nav {
        justify-content: space-between;
    }
    nav .left img {
        display: block;
    }
    .bottom-nav div {
        font-size: 12px;
    }
    .bottom-nav {
        display: flex;
    }
    .stake {
        flex-direction: column;
    }
    .staking-cont {
        padding: 3rem;
        padding-top: 1rem;
        padding-bottom: 5rem;
    }
    .stake .left {
        width: 100%;
        padding: 1rem 0;
        margin-bottom: 2rem;
        font-size: 13px;
    }
    .stake .action {
        width: 100%;
        flex-direction: column;
        margin: 0;
        border-right: none;
    }
    .buttons {
        border: none;
        margin-bottom: 2rem;
        justify-content: center;
        font-size: 13px;
        padding: 1rem 0;
    }
    .buttons button {
        font-size: 13px;
    }
    .earned {
        padding-left: 0;
        padding-bottom: 2rem;
    }
    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 400px) {
    .btn {
        font-size: 12px;
    }
    .bottom-nav div {
        font-size: 10px;
    }
    main nav p {
        font-size: 14px;
    }
    .connect-wallet-modal .wallets .walletconnect,
    .connect-wallet-modal .wallets .metamask {
        margin: 0 .5rem;
    }
}

@media screen and (max-width: 360px) {
    .buttons {
        flex-direction: column;
    }
}