* {
    padding: 0;
    margin: 0;
    font-family: "Poppins";
    transition: .5s;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h5 {
    margin-bottom: 0;
}

.launchpad .--full-page {
    display: block;
    width: 100%;
    padding: 1rem;
    padding-top: 3rem;
}

progress {
    --color: #a750cf;
    /* the progress color */
    --background: rgb(51, 51, 51);
    /* the background color */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 200px;
    margin-right: 1rem;
    border-radius: 30px;
    background: var(--background);
    height: 10px;
}

progress::-webkit-progress-bar {
    border-radius: 30px;
    background: var(--background);
}

progress::-webkit-progress-value {
    border-radius: 30px;
    background: var(--color);
    box-shadow: 0 0 10px rgba(148, 4, 216, .7), 0 0 30px rgba(148, 4, 216, .5), 0 0 50px rgba(148, 4, 216, .3);
}

progress::-moz-progress-bar {
    border-radius: 30px;
    background: var(--color);
}

#progress {
    color: #ae6dcc;
}

.progress {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.launchpadInfoContainer {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 1rem;
    height: 100%;
    padding: 3rem 0;
}

.launchpadInfoContainer p {
    font-size: 11px;
    margin-bottom: .3rem;
    color: white;
    line-height: normal;
}

.launchpadInfoContainer label {
    font-size: 13px;
}

.launchpadInfoContainer input[type="text"],
.launchpadInfoContainer input[type="datetime-local"],
.launchpadInfoContainer select {
    margin-bottom: .7rem;
}

.launchpadInfoContainer input[type="radio"],
.launchpadInfoContainer input[type="checkbox"] {
    all: revert;
    cursor: pointer;
}

.launchpadInfoContainer .buttons {
    padding: 1rem 0;
}

#desc {
    width: 100%;
    background: transparent;
    border: 2px solid #a750cf;
    border-radius: 4px;
    resize: none;
    padding: 8px;
    color: white;
}

.launchpadInfoContainer .buttons .btn,
.launchpadInfoContainer .buttons .btn-border {
    margin: 0;
    margin-right: .4rem;
    font-size: 13px;
    padding: 10px 20px;
}

.launchpadInfoContainer .presale .ics #ic {
    margin-right: 5px;
    font-size: 17px;
    margin-top: .3rem;
}

.presale .name-icon {
    display: flex;
    align-items: center;
    padding: .3rem 0;
}

.presale .name-icon img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.presale ul li,
.start ul li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.137);
}

.presale ul li span,
.start ul li span {
    font-size: 11px;
}

.start {
    text-align: center;
}

.start .countdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start .countdown p {
    padding: .5rem;
    background: #a750cf;
    margin: 0 .3rem;
}

.start progress,
.launchpadInfoContainer progress {
    margin: 0;
    width: 100%;
    margin-top: .4rem;
}

.progval,
.progvalup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.progval p {
    padding: .5rem 0;
    margin: 0;
    background-color: transparent;
}

.progvalup p {
    margin: 0;
    font-size: 15px;
    margin-left: 4px;
    background-color: transparent;
}

.progvalup span {
    display: flex;
    align-items: center;
}

.start .btn {
    margin: 0;
    font-size: 13px;
    padding: 10px 20px;
}

.start ul {
    padding-top: .5rem;
}

.tokenhead {
    display: flex;
    align-items: center;
}

.tokenhead img {
    width: 70px;
    height: 70px;
    margin-right: 1rem;
}

.tokenhead #ic {
    font-size: 14px;
    margin-right: 5px;
}

.tokenhead .details {
    display: flex;
    padding: .5rem 0;
}

.tokenhead .details .wallet {
    margin: 0;
    margin-right: 5px;
    padding: 5px 10px;
}

.rates {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.rates p {
    font-size: 15px;
}
