* {
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .1s;
}

html {
    background-color: #111111;
    color: white;
}

.dashboard {
    margin: 0 auto;
    max-width: 1000px;
}

nav {
    padding: 1rem;
    margin: 2rem 3rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid grey;
    width: fit-content;
    word-spacing: 10px;
    border-radius: 10px;
}

nav:hover {
    border: 1px solid #a750cf;
    color: #a750cf;
}

.btn-border {
    padding: 10px 20px;
    border: none;
    outline: none;
    border: 1px solid #a750cf;
    border-radius: 15px;
    color: #a750cf;
    font-size: 17px;
    cursor: pointer;
    margin-top: 1rem;
    background: transparent;
}

.btn:hover,
.btn-border:hover {
    transform: scale(105%);
}

.dashboard {
    padding: 1rem 3rem;
}

.dashboard h1 {
    font-size: 40px;
    font-weight: bold;
}

.wallet {
    margin: 1rem 0;
    background: black;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.wallet svg {
    margin-right: .7rem;
}

.tasks {
    padding: 2rem 0;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    margin: 1rem 0;
    background: rgba(0, 0, 0, 0.438);
    border-radius: 20px;
    align-items: center;
    word-wrap: break-word;
}

h2 {
    font-size: 15px;
    opacity: .5;
    margin: 1rem;
    margin-top: 3rem;
}

.center {
    padding: 1rem 2rem;
    background: #111;
    font-size: 13px;
    border-radius: 10px;
}

progress {
    --color: #a750cf;
    /* the progress color */
    --background: rgb(31, 31, 31);
    /* the background color */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    width: 200px;
    margin-right: 1rem;
    border-radius: 30px;
    background: var(--background);
    height: 10px;
}

progress::-webkit-progress-bar {
    border-radius: 30px;
    background: var(--background);
}

progress::-webkit-progress-value {
    border-radius: 30px;
    background: var(--color);
    box-shadow: 0 0 10px rgba(148, 4, 216, .7), 0 0 30px rgba(148, 4, 216, .5), 0 0 50px rgba(148, 4, 216, .3);
}

progress::-moz-progress-bar {
    border-radius: 30px;
    background: var(--color);
}

#progress {
    color: #ae6dcc;
}

.progress {
    display: flex;
    align-items: center;
}

.btn {
    padding: 10px 20px;
    border: none;
    outline: none;
    background: linear-gradient(135deg, #bc82d6, #9404d8);
    border-radius: 15px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    margin-top: 1rem;
    margin-right: .5rem;
    box-shadow: 0 0 10px rgba(148, 4, 216, .7), 0 0 30px rgba(148, 4, 216, .5), 0 0 50px rgba(148, 4, 216, .3);
}

.btn:hover {
    transform: scale(105%);
}

.card {
    padding: 1.5rem 2rem;
    margin: 1rem 0;
    background: rgba(0, 0, 0, 0.438);
    border-radius: 20px;
    align-items: center;
    word-wrap: break-word;
}

.card .to input {
    width: 100%;
    margin: 1rem 0;
    resize: none;
    border: none;
    outline: none;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    color: white;
    padding: 1rem;
}

.card .taskdescription textarea {
    width: 100%;
    margin: 1rem 0;
    resize: none;
    border: none;
    outline: none;
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
    color: white;
    padding: 1rem;
}

@media screen and (max-width:600px) {
    .task {
        flex-direction: column;
        align-items: flex-start;
    }
    .center {
        margin: 1rem 0;
    }
    progress {
        width: 180px;
    }
}

@media screen and (max-width:360px) {
    .progress {
        justify-content: space-between;
    }
    progress {
        width: 130px;
    }
    .task p {
        font-size: 13px;
    }
}